.ui.menu{
    background-color: #2185d0;
    color: white;
}

.ui.menu .active.item{
    color: white;
    font-weight: 900;
    background :none;
}

.ui.menu .item{
    color: white;
    font-weight: 900;
    
}